.m-1 {
  margin: 0.25rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-1 {
  margin-top: 0.25rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-10 {
  height: 2.5rem
}

.w-72 {
  width: 18rem
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.border-2 {
  border-width: 2px
}

.border-indigo-700 {
  --tw-border-opacity: 1;
  border-color: rgb(67 56 202 / var(--tw-border-opacity))
}

.bg-indigo-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(199 210 254 / var(--tw-bg-opacity))
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.bg-neutral-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity))
}

.bg-indigo-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(129 140 248 / var(--tw-bg-opacity))
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pt-20 {
  padding-top: 5rem
}

.pl-2 {
  padding-left: 0.5rem
}

.text-center {
  text-align: center
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.font-semibold {
  font-weight: 600
}

.text-indigo-800 {
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity))
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-slate-200 {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity))
}

.text-indigo-400 {
  --tw-text-opacity: 1;
  color: rgb(129 140 248 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.decoration-indigo-400 {
  text-decoration-color: #818cf8
}

.decoration-solid {
  text-decoration-style: solid
}
