<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931162145260-1oulj7jncss0rb7jqrr23vlo5cfo35s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931162145260-1oulj7jncss0rb7jqrr23vlo5cfo35s5</string>
	<key>API_KEY</key>
	<string>AIzaSyAovHuBSwgzC4d7OK_bPQN3X0vTy5pIdtM</string>
	<key>GCM_SENDER_ID</key>
	<string>931162145260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LiftingProject</string>
	<key>PROJECT_ID</key>
	<string>liftingapp-26a48</string>
	<key>STORAGE_BUCKET</key>
	<string>liftingapp-26a48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931162145260:ios:c1d48194b2c6d09c5ac0c9</string>
</dict>
</plist>